CSV output is not CSV

**Describe the bug**
The CSV output mode may be useless as CSV, because it adds metadata to the beginning of the file *including the row that is supposed to contain column headers

**cloc; OS; OS version**
 - cloc version: 1.82 
 - If running the cloc source, Perl version:
 - OS (eg Linux, Windows, macOS, etc): ubuntu
 - OS version: 20.04

**To Reproduce**
```
cloc --csv --vcs=git --by-file | tail -n +5 | head -n -1 | q -H -c 5 -d , 'select language from -'
```

**Expected result**
```
#      65 text files.
# classified 65 files
#      65 unique files.                              
#      20 files ignored.
# "github.com/AlDanial/cloc v 1.82  T=0.07 s (879.1 files/s, 81596.1 lines/s)"
#
language,filename,blank,comment,code
...
```

**Additional context**
The current output:
```
      65 text files.
classified 65 files
      65 unique files.                              
      20 files ignored.

language,filename,blank,comment,code,"github.com/AlDanial/cloc v 1.82  T=0.07 s 
(879.1 files/s, 81596.1 lines/s)"
```

makes it harder to pass data to tools such as `q-text-as-data` because 

```
Bad header row: Header must contain only strings and not numbers or empty strings: 'language,filename,blank,comment,code,github.com/AlDanial/cloc v 1.82  T=0.07 s (875.9 files/s, 81295.8 lines/s)'
'github.com/AlDanial/cloc v 1.82  T=0.07 s (875.9 files/s, 81295.8 lines/s)': Column name cannot contain commas
```


This is clearly a flaw with ``q``  because RFC 4180 section 2.6 (https://datatracker.ietf.org/doc/html/rfc4180#section-2) allows commas in fields of CSV files if the field is quoted.

Still, I like it when tools can work together and it is probably easier for me to change cloc's output than for the author of ``q`` to fix that program.  I'll push a fix shortly.